Repository navikt/fp-autotest, changes with the labels that .github/labeler.yml gives for each.
All labels: github-action, lokal-utvikling, testrammeverk, tester, pom, docs

Update MorOgFarSammen.java
  src/test/java/no/nav/foreldrepenger/autotest/foreldrepenger/foreldrepenger/MorOgFarSammen.java
Labels: tester

Fjerner test som ikke lenger er relevant/riktig
  src/test/java/no/nav/foreldrepenger/autotest/foreldrepenger/foreldrepenger/MorOgFarSammen.java
Labels: tester

Oppdatere PDL_BASE_URL variable for fpabakus.
  resources/pipeline/docker-compose.yml
Labels: none

PDL_BASE_URL oppdateres for frisk pga ny felles version
  resources/pipeline/docker-compose.yml
Labels: none

NOJIRA legg til ny PDL path for fpsak
  resources/pipeline/docker-compose.yml
Labels: none

NOJIRA legg til ny PDL path for fpsak (#429)
  resources/pipeline/docker-compose.yml
Labels: none

NOJIRA nytt env for formidling pdl
  resources/pipeline/docker-compose.yml
Labels: none

TFP-4050: Støtte for å validere feriepenger i verdikjedetester
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/foreldrepenger/Saksbehandler.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/BehandlingerKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/behandling/Behandling.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/behandling/beregning/feriepenger/Feriepengegrunnlag.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/behandling/beregning/feriepenger/FeriepengegrunnlagAndel.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: testrammeverk, tester

.github/labeler.yml:

github-action:
  - .github/**/*

lokal-utvikling:
  - lokal-utvikling/*

testrammeverk:
  - src/main/java/**/*

tester:
  - src/test/java/**/*

pom:
  - pom.xml

docs:
  - docs/*
  - README.md
  - LICENSE.md
  - CODEOWNERS
