Repository navikt/fp-autotest, pull requests merged in 2023-06, with the labels that each got.

#1104 TFP-5494 startpunkter for svp revurdering
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/svangerskapspenger/Førstegangsbehandling.java
Labels: tester

#1106 Bump deps - fix confluent 7.4
  pom.xml
  resources/pipeline/common.env
Labels: pom

#1109 Fjerner fpinfo fra pipeline
  .github/workflows/autotest.yml
  README.md
  lokal-utvikling/setup-lokal-utvikling.sh
  resources/pipeline/authserver/konfig.json
  resources/pipeline/common.env
  resources/pipeline/compose-github.yml
  resources/pipeline/compose.yml
  resources/pipeline/fpinfo_datasource.env
  resources/pipeline/oracle-init/03_fpinfo.sql
  resources/pipeline/update-versions.sh
Labels: github-action, docs, lokal-utvikling

#1112 Bump vtp til 1.1.15 med støtte for jackson 2.15
  pom.xml
Labels: pom

#1114 Fjerner ubrukt SOAP konfig.
  resources/pipeline/compose.yml
  src/test/java/no/nav/foreldrepenger/autotest/teknisk/sak/SakTjenesteTest.java
  src/test/resources/sak-request.xml
Labels: tester
