Repository navikt/fp-autotest, pull requests merged in 2023-10, with the labels that each got.

#1193 Starter engangsstønad
  lokal-utvikling/lokal-utvikling-selvbetjening-minimal.sh
  resources/pipeline/compose.yml
  resources/pipeline/update-versions.sh
Labels: lokal-utvikling

#1195 Fjerner mocking av interne tjenester for lokal kjøring og i verdikjeden
  .github/workflows/autotest.yml
  docs/utvikleroppsett/README.md
  docs/utvikleroppsett/lokal-utvikling-eksempler.md
  lokal-utvikling/lokal-utvikling-fpsak.sh
  lokal-utvikling/lokal-utvikling-selvbetjening-minimal.sh
  lokal-utvikling/setup-lokal-utvikling.sh
  resources/pipeline/compose.yml
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/saksbehandler/fpsak/Saksbehandler.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/aksjonspunktbekreftelse/VurderTilbakekrevingVedNegativSimulering.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/behandling/uttak/Saldoer.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/MorOgFarSammen.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Revurdering.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/SammenhengendeUttak.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/ToTetteOgMinsterettTester.java
  src/test/java/no/nav/foreldrepenger/autotest/fptilbake/foreldrepenger/TilbakekrevingFP.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: testrammeverk, tester, github-action, docs, lokal-utvikling

#1196 Nytt endepunkt for å hente tilkjent ytelse
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/BehandlingFpsakKlient.java
Labels: testrammeverk

#1201 Mer defensiv sjekk simulering
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/MorOgFarSammen.java
Labels: tester
