Repository navikt/fp-autotest, pull requests merged in 2023-03, with the labels that each got.

#1024 Skisse til forenklet azure-oppsett
  pom.xml
  resources/pipeline/authserver/konfig.json
  resources/pipeline/common.env
  resources/pipeline/compose.yml
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsyn/Innsyn.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsoknad_mottak/innsyn/InnsynKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/vtp/sikkerhet/azure/AzureTokenProvider.java
  src/main/java/no/nav/foreldrepenger/autotest/util/testscenario/modell/OpptjeningErketyper.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Aksjonspunkter.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/BeregningVerdikjede.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Fodsel.java
  src/test/java/no/nav/foreldrepenger/autotest/internal/søknad/SøknadSeraliseringDeserialiseringTest.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeEngangsstonad.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeSvangerskapspenger.java
Labels: pom, testrammeverk, tester

#1038 Sjekker at vi ikke har flere klasser per ap kode
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/aksjonspunktbekreftelse/AksjonspunktBekreftelse.java
Labels: testrammeverk

#1044 Oppdater en rekke deps
  pom.xml
  src/main/java/no/nav/foreldrepenger/autotest/klienter/vtp/pdl/PdlLeesahKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/util/ReadFileFromClassPathHelper.java
  src/main/java/no/nav/foreldrepenger/autotest/util/testscenario/modell/Familie.java
  src/test/java/no/nav/foreldrepenger/autotest/teknisk/logg/LoggTest.java
Labels: pom, testrammeverk, tester

#1046 Revert "Revert "Oppdater en rekke deps""
  pom.xml
  src/main/java/no/nav/foreldrepenger/autotest/klienter/vtp/pdl/PdlLeesahKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/util/ReadFileFromClassPathHelper.java
  src/main/java/no/nav/foreldrepenger/autotest/util/testscenario/modell/Familie.java
  src/test/java/no/nav/foreldrepenger/autotest/teknisk/logg/LoggTest.java
Labels: pom, testrammeverk, tester

#1052 Forberedelse til å flytte dokumentgenerator. Updatering av felles.
  pom.xml
Labels: pom

#1055 TFP-5460 endret oppførsel opptjening
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: tester

#1056 Feil i datosjekk
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: tester
