Repository navikt/fp-autotest, pull requests merged in 2023-05, with the labels that each got.

#1078 Revert "Prøv mindre parallellitet"
  .github/workflows/autotest.yml
Labels: github-action

#1092 Bump av fpsoknad-felles 2.3.2
  lokal-utvikling/setup-lokal-utvikling.sh
  pom.xml
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/fordel/FordelKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/util/testscenario/modell/Aareg.java
  src/main/java/no/nav/foreldrepenger/autotest/util/testscenario/modell/Søker.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/ArbeidsforholdVarianter.java
  src/test/java/no/nav/foreldrepenger/autotest/internal/SerializationTestBase.java
  src/test/java/no/nav/foreldrepenger/autotest/internal/klienter/fpsak/fagsak/FagsakDtoSeraliseringDeserialiseringTest.java
  src/test/java/no/nav/foreldrepenger/generator/soknad/erketyper/SoeknadBuilderIntegritetTest.java
Labels: pom, testrammeverk, tester, lokal-utvikling

#1091 innsyn går mot fpoversikt
  .github/workflows/autotest.yml
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsyn/Innsyn.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/BaseUriProvider.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsoknad_mottak/innsyn/InnsynKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/util/vent/Vent.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeEngangsstonad.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeSvangerskapspenger.java
  src/test/java/no/nav/foreldrepenger/generator/soknad/erketyper/SoeknadBuilderIntegritetTest.java
Labels: testrammeverk, tester, github-action
