Repository navikt/fp-autotest, pull requests merged in 2023-04, with the labels that each got.

#1058 TFP-5466 aksjonspunkt 5044 ikke lenger relevant pga WLB
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/aksjonspunktbekreftelse/VurderVilkaarForSykdomBekreftelse.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/behandling/AksjonspunktKoder.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Aksjonspunkter.java
Labels: testrammeverk, tester

#1063 Bumper versjoner ifm jakarta transformasjon
  pom.xml
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/BehandlingIdDto.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/BehandlingIdVersjonDto.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/BehandlingNy.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/aksjonspunktbekreftelse/VurderSelvstendigNæringsdrivendeNyIArbeidslivetDto.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/ArbeidsforholdBuilder.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/InntektsmeldingBuilder.java
  src/test/java/no/nav/foreldrepenger/autotest/teknisk/logg/LoggTest.java
Labels: pom, testrammeverk, tester

#1065 Test workflow
  .github/.m2/settings.xml
  .github/workflows/autotest.yml
  .github/workflows/build-pr.yml
  .github/workflows/report-and-notify.yml
  lokal-utvikling/setup-lokal-utvikling-mac.sh
  resources/allure/set-environment-variables-fpsak.sh
  resources/allure/set-environment-variables.sh
Labels: github-action, lokal-utvikling

#1066 Revert failing autotest
  .github/.m2/settings.xml
  .github/workflows/autotest.yml
  .github/workflows/build-pr.yml
  .github/workflows/report-and-notify.yml
  lokal-utvikling/setup-lokal-utvikling-mac.sh
  resources/allure/set-environment-variables-fpsak.sh
  resources/allure/set-environment-variables.sh
Labels: github-action, lokal-utvikling

#1067 Revert "Revert failing autotest"
  .github/.m2/settings.xml
  .github/workflows/autotest.yml
  .github/workflows/build-pr.yml
  .github/workflows/report-and-notify.yml
  lokal-utvikling/setup-lokal-utvikling-mac.sh
  resources/allure/set-environment-variables-fpsak.sh
  resources/allure/set-environment-variables.sh
Labels: github-action, lokal-utvikling
