Repository navikt/fp-autotest, pull requests merged in 2024-10, with the labels that each got.

#1425 SVP går mot nytt endepunkt i API
  pom.xml
  src/main/java/no/nav/foreldrepenger/autotest/klienter/foreldrepengesoknapi/MottakKlient.java
  src/main/java/no/nav/foreldrepenger/generator/familie/Søker.java
  src/main/java/no/nav/foreldrepenger/generator/soknad/maler/SøknadEngangsstønadMaler.java
  src/main/java/no/nav/foreldrepenger/generator/soknad/maler/SøknadSvangerskapspengerMaler.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/svangerskapspenger/Førstegangsbehandling.java
  src/test/java/no/nav/foreldrepenger/autotest/fptilbake/svangerskapspenger/TilbakekrevingSVP.java
  src/test/java/no/nav/foreldrepenger/autotest/internal/søknad/SøknadSeraliseringDeserialiseringTest.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeSvangerskapspenger.java
Labels: pom, testrammeverk, tester

#1431 FIX: Bytter ut midlertidig journalført med journalført
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/ApiMottak.java
Labels: testrammeverk

#1443 Legger inn fp-inntektsmelding backend.
  lokal-utvikling/setup-lokal-utvikling.sh
  resources/pipeline/compose.yml
  resources/pipeline/fpinfohistorikk_datasource.env
  resources/pipeline/fpinntektsmelding_datasource.env
  resources/pipeline/postgres-init/fpinntektsmelding.sql
  resources/pipeline/update-versions.sh
Labels: lokal-utvikling

#1451 Fikser loggsjekken
  .github/workflows/autotest.yml
  resources/pipeline/compose.yml
Labels: github-action
