Repository navikt/fp-autotest, pull requests merged in 2024-01, with the labels that each got.

#1264 TFP-5661: Bytter over til v2 for engangsstønad
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/ApiMottak.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/Fordel.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/Innsender.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/foreldrepengesoknapi/MottakKlient.java
  src/main/java/no/nav/foreldrepenger/generator/familie/Søker.java
  src/main/java/no/nav/foreldrepenger/generator/soknad/maler/SøknadEngangsstønadMaler.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Adopsjon.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Fodsel.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Innsyn.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Klage.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Medlemskap.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Omsorgsovertakelse.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Revurdering.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Soknadsfrist.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Termin.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Aksjonspunkter.java
  src/test/java/no/nav/foreldrepenger/autotest/fptilbake/engangsstonad/TilbakekrevingES.java
  src/test/java/no/nav/foreldrepenger/autotest/internal/søknad/SøknadSeraliseringDeserialiseringTest.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeEngangsstonad.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: testrammeverk, tester

#1265 Statisk ag
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Fodsel.java
Labels: tester

#1271 Feature/uttak
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/SammenhengendeUttak.java
Labels: tester

#1274 Ta med korrekt input til inntektsposter for ytelser
  pom.xml
  src/main/java/no/nav/foreldrepenger/generator/familie/generator/InntektYtelseGenerator.java
Labels: pom, testrammeverk

#1276 Fjerner sjekk på at det ikke er opprettet revurdering på barn2 fordi …
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/ToTetteOgMinsterettTester.java
Labels: tester

#1278 FIX: Sender med versjonsnr når vi løser 5085 i autotest
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/saksbehandler/fpsak/Saksbehandler.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/behandling/arbeidInntektsmelding/ManglendeOpplysningerVurderingDto.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/behandling/arbeidInntektsmelding/ManueltArbeidsforholdDto.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/ArbeidsforholdVarianter.java
Labels: testrammeverk, tester

#1284 Litt annet utvalg av orgnummer
  src/main/java/no/nav/foreldrepenger/generator/familie/generator/InntektYtelseGenerator.java
  src/main/java/no/nav/foreldrepenger/generator/familie/generator/TestOrganisasjoner.java
Labels: testrammeverk
