Repository navikt/fp-autotest, pull requests merged in 2024-04, with the labels that each got.

#1342 FIX: Liten endring til kalkulus assert
  src/test/java/no/nav/foreldrepenger/autotest/fpkalkulus/Beregner.java
Labels: tester

#1343 FIX: Nytt requestobjekt til fpkalkulus for å hente grunnlag
  pom.xml
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpkalkulus/KalkulusKlient.java
  src/main/java/no/nav/foreldrepenger/generator/kalkulus/LagRequestTjeneste.java
Labels: pom, testrammeverk

#1344 Chore/oppdater utvikler dokumentasjon
  README.md
  docs/arkitektur.md
  docs/utvikleroppsett/README.md
  docs/utvikleroppsett/github-gpg-key.md
  docs/utvikleroppsett/github-ssh-key.md
  docs/utvikleroppsett/lokal-utvikling-eksempler.md
  docs/utvikleroppsett/maven-settings.md
  lokal-utvikling/lokal-utvikling-fpfrontend.sh
  lokal-utvikling/lokal-utvikling-fpsak.sh
  lokal-utvikling/lokal-utvikling-ide.sh
  resources/pipeline/update-versions.sh
  src/test/java/no/nav/foreldrepenger/autotest/teknisk/token/HentTokenTest.java
Labels: tester, docs, lokal-utvikling

#1346 Oppdater Jakarta EL til V5
  pom.xml
Labels: pom

#1347 FIX: Tar inn nye tester som var avhengig av kobling relasjon i fpkalk…
  pom.xml
  src/main/java/no/nav/foreldrepenger/generator/kalkulus/LagRequestTjeneste.java
  src/main/java/no/nav/foreldrepenger/generator/kalkulus/TestscenarioRepositoryImpl.java
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_okt_refusjon/resultat/forventet-gui-fordel.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_okt_refusjon/resultat/forventet-resultat.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_refusjon/resultat/forventet-gui-fordel.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_refusjon/resultat/forventet-resultat.json
  src/test/java/no/nav/foreldrepenger/autotest/fpkalkulus/foreldrepenger/ArbeidstakerTest.java
Labels: pom, testrammeverk, tester

#1349 Rydder en del i sonar meldinger. AssertJ forenklinger.
  src/test/java/no/nav/foreldrepenger/autotest/fpkalkulus/Beregner.java
  src/test/java/no/nav/foreldrepenger/autotest/fpkalkulus/foreldrepenger/ArbeidNæringFrilansTest.java
  src/test/java/no/nav/foreldrepenger/autotest/fpkalkulus/foreldrepenger/ArbeidstakerTest.java
  src/test/java/no/nav/foreldrepenger/autotest/fpkalkulus/foreldrepenger/BesteberegningTest.java
  src/test/java/no/nav/foreldrepenger/autotest/fpkalkulus/foreldrepenger/GraderingTest.java
  src/test/java/no/nav/foreldrepenger/autotest/fpkalkulus/foreldrepenger/MilitærTest.java
  src/test/java/no/nav/foreldrepenger/autotest/fpkalkulus/svangerskapspenger/ArbeidstakerOgNæringTest.java
  src/test/java/no/nav/foreldrepenger/autotest/fpkalkulus/svangerskapspenger/ArbeidstakerTest.java
Labels: tester

#1356 FIX: Bytter ag på tesatdata
  src/main/resources/kalkulus/besteberegning_for_arbeidstaker_med_dagpenger_i_opptjeningsperioden_bruker_ikke_seks_beste_måneder/input/kalkulator-input.json
  src/main/resources/kalkulus/besteberegning_for_arbeidstaker_med_dagpenger_i_opptjeningsperioden_bruker_ikke_seks_beste_måneder/resultat/forventet-resultat.json
  src/main/resources/kalkulus/besteberegning_for_arbeidstaker_med_dagpenger_i_opptjeningsperioden_bruker_seks_beste_måneder/input/kalkulator-input.json
  src/main/resources/kalkulus/besteberegning_for_arbeidstaker_med_dagpenger_i_opptjeningsperioden_bruker_seks_beste_måneder/resultat/forventet-resultat.json
  src/main/resources/kalkulus/foreldrepenger_arbeid_næring_over_3g_0_til_militær/input/kalkulator-input.json
  src/main/resources/kalkulus/foreldrepenger_arbeid_næring_over_3g_0_til_militær/resultat/forventet-resultat.json
  src/main/resources/kalkulus/foreldrepenger_arbeid_under_3g_militær_dekker_rest/input/kalkulator-input.json
  src/main/resources/kalkulus/foreldrepenger_arbeid_under_3g_militær_dekker_rest/resultat/forventet-resultat.json
  src/main/resources/kalkulus/foreldrepenger_arbeidsforhold_tilkommer_mer_refusjon_enn_brutto/input/kalkulator-input.json
  src/main/resources/kalkulus/foreldrepenger_arbeidsforhold_tilkommer_mer_refusjon_enn_brutto/resultat/forventet-resultat.json
  src/main/resources/kalkulus/foreldrepenger_arbeidsforhold_tilkommer_på_skjæringstidspunktet/input/kalkulator-input.json
  src/main/resources/kalkulus/foreldrepenger_arbeidsforhold_tilkommer_på_skjæringstidspunktet/resultat/forventet-gui-fordel.json
  src/main/resources/kalkulus/foreldrepenger_arbeidsforhold_tilkommer_på_skjæringstidspunktet/resultat/forventet-resultat.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_okt_refusjon/input/original-kalkulator-input.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_okt_refusjon/input/revurdering-kalkulator-input.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_okt_refusjon/resultat/forventet-gui-fordel.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_okt_refusjon/resultat/forventet-resultat.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_refusjon/input/original-kalkulator-input.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_refusjon/input/revurdering-kalkulator-input.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_refusjon/resultat/forventet-gui-fordel.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_tilkommet_refusjon/resultat/forventet-resultat.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_uten_inntektsmelding_frilans_samme_org/input/kalkulator-input.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_uten_inntektsmelding_frilans_samme_org/resultat/forventet-gui-kofakber.json
  src/main/resources/kalkulus/foreldrepenger_arbeidstaker_uten_inntektsmelding_frilans_samme_org/resultat/forventet-resultat.json
  src/main/resources/kalkulus/foreldrepenger_frilans_over_3g_ingenting_til_militær/input/kalkulator-input.json
  src/main/resources/kalkulus/foreldrepenger_søker_gradering_for_næring_med_arbeid_over_6G/input/kalkulator-input.json
  src/main/resources/kalkulus/foreldrepenger_søker_gradering_for_næring_med_arbeid_over_6G/resultat/forventet-gui-fordel.json
  src/main/resources/kalkulus/fp_arbeid_uten_refusjon_tilkommet_arbeid_med_gradering_med_refusjon/input/kalkulator-input.json
  src/main/resources/kalkulus/fp_arbeid_uten_refusjon_tilkommet_arbeid_med_gradering_med_refusjon/resultat/forventet-resultat.json
  src/main/resources/kalkulus/fp_arbeid_uten_refusjon_tilkommet_arbeid_med_gradering_med_refusjon_i_perioder_uten_gradering/input/kalkulator-input.json
  src/main/resources/kalkulus/fp_arbeid_uten_refusjon_tilkommet_arbeid_med_gradering_med_refusjon_i_perioder_uten_gradering/resultat/forventet-resultat.json
  src/main/resources/kalkulus/fp_arbeid_uten_refusjon_tilkommet_arbeid_med_gradering_uten_refusjon/input/kalkulator-input.json
  src/main/resources/kalkulus/fp_arbeid_uten_refusjon_tilkommet_arbeid_med_gradering_uten_refusjon/resultat/forventet-resultat.json
  src/main/resources/kalkulus/fp_arbeidsforhold_med_permisjon/input/kalkulator-input.json
  src/main/resources/kalkulus/fp_at_sn_bg_over_6G_bg_fra_arbeid_under_6G_med_full_refusjon/input/kalkulator-input.json
  src/main/resources/kalkulus/fp_at_sn_bg_over_6G_bg_fra_arbeid_under_6G_med_full_refusjon/resultat/forventet-gui-kofakber.json
  src/main/resources/kalkulus/fp_at_sn_bg_over_6G_bg_fra_arbeid_under_6G_med_full_refusjon/resultat/forventet-resultat.json
  src/main/resources/kalkulus/fp_to_arbeidsforhold_gradering_uten_refusjon_og_over_6G_refusjon_totalt/input/kalkulator-input.json
  src/main/resources/kalkulus/fp_to_arbeidsforhold_gradering_uten_refusjon_og_over_6G_refusjon_totalt/resultat/forventet-resultat.json
  src/main/resources/kalkulus/fp_to_arbeidsforhold_gradering_uten_refusjon_og_under_6G_refusjon_totalt/input/kalkulator-input.json
  src/main/resources/kalkulus/fp_to_arbeidsforhold_gradering_uten_refusjon_og_under_6G_refusjon_totalt/resultat/forventet-resultat.json
  src/main/resources/kalkulus/fp_to_arbeidsforhold_med_gradering_og_refusjon/input/kalkulator-input.json
  src/main/resources/kalkulus/fp_to_arbeidsforhold_med_gradering_og_refusjon/resultat/forventet-resultat.json
  src/main/resources/kalkulus/svangerskapspenger_arbeidstaker_full_refusjon/input/kalkulator-input.json
  src/main/resources/kalkulus/svangerskapspenger_arbeidstaker_full_refusjon/resultat/forventet-gui-kofakber.json
  src/main/resources/kalkulus/svangerskapspenger_arbeidstaker_full_refusjon/resultat/forventet-resultat.json
  src/test/java/no/nav/foreldrepenger/autotest/fpkalkulus/foreldrepenger/ArbeidstakerTest.java
Labels: tester
