Repository navikt/fp-autotest, pull requests merged in 2025-02, with the labels that each got.

#1538 Chore: Setter samme timeout lengde på alle restkall i kalkulus verdik…
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpkalkulus/KalkulusKlient.java
Labels: testrammeverk

#1547 TFP-5952 må lage task med driftsrolle
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/saksbehandler/fptilbake/TilbakekrevingSaksbehandler.java
  src/main/java/no/nav/foreldrepenger/autotest/base/FptilbakeTestBase.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/vtp/sikkerhet/azure/SaksbehandlerRolle.java
  src/test/java/no/nav/foreldrepenger/autotest/fptilbake/foreldrepenger/TilbakekrevingFP.java
Labels: testrammeverk, tester

#1535 TFP-5967: Legger til en test som sjekker saksbehandling og innsyn av …
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/ApiMottak.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/DokumentInnsendingHjelper.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/Fordel.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsyn/Innsyn.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/saksbehandler/fpsak/Saksbehandler.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/saksbehandler/fptilbake/TilbakekrevingSaksbehandler.java
  src/main/java/no/nav/foreldrepenger/autotest/base/FpsakTestBase.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/JacksonBodyHandlers.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/foreldrepengesoknapi/InnsynKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/prosesstask/ProsesstaskFpsakKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/prosesstask/ProsesstaskKlientFelles.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fptilbake/prosesstask/ProsesstaskFptilbakeKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/vtp/sikkerhet/azure/SaksbehandlerRolle.java
  src/main/java/no/nav/foreldrepenger/generator/familie/Familie.java
  src/main/java/no/nav/foreldrepenger/generator/familie/generator/FamilieGenerator.java
  src/test/java/no/nav/foreldrepenger/autotest/fptilbake/engangsstonad/TilbakekrevingES.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/AdressebeskyttelseOgSkjermetPersonTester.java
Labels: testrammeverk, tester

#1550 chore: Sletter flaky test som uansett var veldig grunn og testes bedr…
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Fodsel.java
Labels: tester

#1561 Fpsak trenger kalkulus, og fjerner scripts som ikke fungerer
  lokal-utvikling/lokal-utvikling-fpfrontend.sh
  lokal-utvikling/lokal-utvikling-fpsak.sh
  resources/pipeline/compose.yml
Labels: lokal-utvikling

#1564 TFP-6023:Legger til støtte for å sende inn vedlegg for både full flyt og begrenset flyt til bare fpsak
  pom.xml
  resources/pipeline/compose.yml
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/ApiMottak.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/Fordel.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/HttpRequestProvider.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/JavaHttpKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/MultipartBodyPublisher.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/foreldrepengesoknapi/MottakKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/util/ReadFileFromClassPathHelper.java
  src/main/java/no/nav/foreldrepenger/generator/familie/Søker.java
  src/main/java/no/nav/foreldrepenger/generator/soknad/maler/SøknadSvangerskapspengerMaler.java
  src/main/resources/dummy.pdf
  src/test/java/no/nav/foreldrepenger/autotest/fptilbake/svangerskapspenger/TilbakekrevingSVP.java
Labels: pom, testrammeverk, tester
