Repository navikt/fp-autotest, pull requests merged in 2025-09, with the labels that each got.

#1691 bugfix: EØS-test helgejustering av uttak
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: tester

#1696 FP/EØS brevsjekk må se på helgejuterte datoer
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: tester

#1697 chore: Jakarta EE 11
  pom.xml
Labels: pom

#1706 Termindato i manglende fødsel ap
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/aksjonspunktbekreftelse/avklarfakta/SjekkManglendeFødselBekreftelse.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Fodsel.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: testrammeverk, tester

#1710 Chore/kafka docker
  docs/utvikleroppsett/README.md
  resources/keystore/csr.txt
  resources/keystore/make-dummy-keystore.sh
  resources/pipeline/common.env
  resources/pipeline/compose.yml
Labels: docs
