Repository navikt/fp-autotest, pull requests merged in 2025-05, with the labels that each got.

#1603 TFP-6066: Lagt inn mor permisjon på 4
  src/main/java/no/nav/foreldrepenger/autotest/base/VerdikjedeTestBase.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/aksjonspunktbekreftelse/avklarfakta/VurderUttakDokumentasjonBekreftelse.java
  src/main/java/no/nav/foreldrepenger/generator/familie/generator/InntektYtelseGenerator.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/MorOgFarSammen.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: testrammeverk, tester

#1611 chore: erstatter redis med valkey i autotest
  resources/pipeline/compose.yml
  src/test/java/no/nav/foreldrepenger/autotest/teknisk/logg/LoggTest.java
Labels: tester

#1622 chore: bruker fpcache som begrep for felles cache i autotest også
  resources/pipeline/compose.yml
  src/test/java/no/nav/foreldrepenger/autotest/teknisk/logg/LoggTest.java
Labels: tester

#1630 chore: Oppdaterer grunnbeløp
  src/main/java/no/nav/foreldrepenger/autotest/base/VerdikjedeTestBase.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeSvangerskapspenger.java
Labels: testrammeverk, tester

#1631 chore: Oppdaterer grunnbeløp , støtter at vi kan ha to grunnbeløp
  src/main/java/no/nav/foreldrepenger/autotest/base/VerdikjedeTestBase.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: testrammeverk, tester

#1633 chore: Ikke sjekk lengden på fpabonnent-logg i fpsak-tester
  .github/workflows/autotest.yml
  pom.xml
Labels: pom, github-action

#1635 chore: oppdater soknad-api og VedleggInnsendingType
  pom.xml
  src/main/java/no/nav/foreldrepenger/generator/familie/Søker.java
  src/main/java/no/nav/foreldrepenger/generator/soknad/maler/SøknadSvangerskapspengerMaler.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: pom, testrammeverk, tester
