Repository navikt/fp-autotest, pull requests merged in 2025-03, with the labels that each got.

#1571 Trenger ikke vente på aksjonspunkt i test
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Termin.java
Labels: tester

#1585 TFP-5383 får ikke lenger 5074
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
Labels: tester

#1588 Vedlegg er knyttet til behandling
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/saksbehandler/fpsak/Saksbehandler.java
Labels: testrammeverk

#1586 test: legger inn en mulighet for å sjekke innhold i genererte brev.
  pom.xml
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/saksbehandler/fpsak/Saksbehandler.java
  src/main/java/no/nav/foreldrepenger/autotest/base/BrevTestBase.java
  src/main/java/no/nav/foreldrepenger/autotest/base/FpsakTestBase.java
  src/main/java/no/nav/foreldrepenger/autotest/base/Paragrafer.java
  src/main/java/no/nav/foreldrepenger/autotest/base/VerdikjedeTestBase.java
  src/main/java/no/nav/foreldrepenger/autotest/brev/BrevAssertionBuilder.java
  src/main/java/no/nav/foreldrepenger/autotest/brev/BrevFormateringUtils.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/historikk/dto/DokumentTag.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeEngangsstonad.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeSvangerskapspenger.java
Labels: pom, testrammeverk, tester
