Repository navikt/fp-autotest, pull requests merged in 2025-01, with the labels that each got.

#1509 TFP-5554 fjerner brev bestilt historikkinnslag
  src/main/java/no/nav/foreldrepenger/autotest/base/VerdikjedeTestBase.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/historikk/dto/HistorikkType.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Innsyn.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/engangsstonad/Revurdering.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Fodsel.java
  src/test/java/no/nav/foreldrepenger/autotest/fptilbake/foreldrepenger/TilbakekrevingFP.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeEngangsstonad.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeSvangerskapspenger.java
Labels: testrammeverk, tester

#1510 TFP-5554: Ny brevtittler for fpsak
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/saksbehandler/fptilbake/TilbakekrevingSaksbehandler.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/historikk/dto/HistorikkInnslag.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/historikk/dto/HistorikkType.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fptilbake/historikk/HistorikkTypeFptilbake.java
Labels: testrammeverk

#1514 POFIM-152: Frigjør InntektsmeldingBuilder fra XML kontrakt.
  .editorconfig
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/ApiMottak.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/Fordel.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/Innsender.java
  src/main/java/no/nav/foreldrepenger/autotest/domain/foreldrepenger/PeriodeResultatÅrsak.java
  src/main/java/no/nav/foreldrepenger/autotest/util/CollectionUtils.java
  src/main/java/no/nav/foreldrepenger/generator/familie/Arbeidsgiver.java
  src/main/java/no/nav/foreldrepenger/generator/familie/Søker.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/ArbeidsforholdBuilder.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/Inntektsmelding.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/InntektsmeldingBuilder.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/Prosent.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/RefusjonBuilder.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/SkjemainnholdBuilder.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/xml/ArbeidsforholdXmlMapper.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/xml/InntektsmeldingXmlMapper.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/xml/RefusjonXmlMapper.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/xml/SkjemainnholdXmlMapper.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/erketyper/InntektsmeldingForeldrepengeErketyper.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/erketyper/InntektsmeldingSvangerskapspengerErketyper.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Aksjonspunkter.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/BeregningVerdikjede.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Fodsel.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/MorOgFarSammen.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/RegresjonPreWLB.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/SammenhengendeUttak.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/svangerskapspenger/Førstegangsbehandling.java
  src/test/java/no/nav/foreldrepenger/autotest/fptilbake/foreldrepenger/TilbakekrevingFP.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeSvangerskapspenger.java
  src/test/java/no/nav/foreldrepenger/generator/inntektsmelding/InntektsmeldingBuilderTest.java
Labels: testrammeverk, tester

#1517 TFP-5554: Henter historikk fra v2 endepunkt
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/historikk/HistorikkKlientFelles.java
Labels: testrammeverk

#1519 Fix: fjerner ubrukt wonderwall konfig som feiler ved oppstart. Starte…
  .github/workflows/autotest.yml
  resources/pipeline/compose.yml
Labels: github-action

#1520 FIX: Aksjonspunkt VurderRefusjonBeregningsgrunnlag henter data fra b…
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/aksjonspunktbekreftelse/VurderRefusjonBeregningsgrunnlagBekreftelse.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/behandling/beregning/beregningsgrunnlag/Beregningsgrunnlag.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/behandling/beregning/beregningsgrunnlag/RefusjonTilVurderingAndelDto.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/behandling/beregning/beregningsgrunnlag/RefusjonTilVurderingDto.java
Labels: testrammeverk

#1503 POFIM-152: IM innesending gjennom fp-inntektsmelding i verdikjede
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/innsender/ApiMottak.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/saksbehandler/fpsak/Saksbehandler.java
  src/main/java/no/nav/foreldrepenger/autotest/base/VerdikjedeTestBase.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/BaseUriProvider.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpinntektsmelding/InntektsmeldingKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpinntektsmelding/dto/AktørIdDto.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpinntektsmelding/dto/ArbeidsgiverDto.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpinntektsmelding/dto/EndringsårsakDto.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpinntektsmelding/dto/NaturalytelsetypeDto.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpinntektsmelding/dto/SendInntektsmeldingDto.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpinntektsmelding/dto/YtelseType.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/historikk/dto/HistorikkType.java
  src/main/java/no/nav/foreldrepenger/generator/familie/Arbeidsgiver.java
  src/main/java/no/nav/foreldrepenger/generator/familie/Arbeidsgivere.java
  src/main/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/navno/InntektsmeldingPortalMapper.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Aksjonspunkter.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/BeregningVerdikjede.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/Fodsel.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/foreldrepenger/SammenhengendeUttak.java
  src/test/java/no/nav/foreldrepenger/autotest/fpsak/svangerskapspenger/Førstegangsbehandling.java
  src/test/java/no/nav/foreldrepenger/autotest/fptilbake/foreldrepenger/TilbakekrevingFP.java
  src/test/java/no/nav/foreldrepenger/autotest/fptilbake/foreldrepenger/TilbakekrevingRevurdering.java
  src/test/java/no/nav/foreldrepenger/autotest/fptilbake/svangerskapspenger/TilbakekrevingSVP.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeForeldrepenger.java
  src/test/java/no/nav/foreldrepenger/autotest/verdikjedetester/VerdikjedeSvangerskapspenger.java
  src/test/java/no/nav/foreldrepenger/generator/inntektsmelding/builders/InntektsmeldingBuilderTest.java
Labels: testrammeverk, tester

#1516 Legger til enkel test og integrasjon mot fplos
  .github/workflows/autotest.yml
  .github/workflows/report-and-notify.yml
  pom.xml
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/saksbehandler/fpsak/Oppgavestyrer.java
  src/main/java/no/nav/foreldrepenger/autotest/aktoerer/saksbehandler/fpsak/Saksbehandler.java
  src/main/java/no/nav/foreldrepenger/autotest/base/FpsakTestBase.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/BaseUriProvider.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/JacksonBodyHandlers.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fplos/FplosKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fplos/LosOppgave.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fplos/LosSakslisteId.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/fagsak/FagsakKlient.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/fagsak/dto/EndreUtlandMarkering.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/vtp/sikkerhet/azure/SaksbehandlerRolle.java
  src/test/java/no/nav/foreldrepenger/autotest/fplos/Fplos.java
Labels: pom, testrammeverk, tester, github-action

#1523 GA: Fikser fplos sine avhegigheter og kjører bare fplos med tilhørend…
  .github/workflows/autotest.yml
  resources/pipeline/compose.yml
Labels: github-action

#1524 Ekskluderer fpdokgen fra loggsjekk for fplos-testene
  .github/workflows/autotest.yml
Labels: github-action

#1533 TFP-5931 kaller eget endepunkt for beslutter
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/BehandlingKlientFelles.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/aksjonspunktbekreftelse/AksjonspunktBekreftelse.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/aksjonspunktbekreftelse/BekreftedeAksjonspunkter.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fpsak/behandlinger/dto/aksjonspunktbekreftelse/FatterVedtakBekreftelse.java
  src/main/java/no/nav/foreldrepenger/autotest/klienter/fptilbake/behandlinger/dto/aksjonspunktbekrefter/FattVedtakTilbakekreving.java
Labels: testrammeverk
